<div class="container">
  <h2><%= @user.name %>'s Albums</h2>
  <div class="saperator"></div>
  
  <% if current_user.id == @user.id %>  
  <div class="right fix-right">
    <a href="/new_album"><button class="button">Create new album</button></a>
  </div>
  <% end %>
  <hr>
  <% @albums.each do |album| %>
  <div class="album-list-container">
      <div class="album-thumb left">
        <a href="/album/<%= album.id %>">
          <% if album.photos.count > 0 %>
          <img src="<%= album.photos.first.file %>" alt="<%= album.name %>" class="img-preview"></a> 
          <% else %>
          <img src="/images/placeholder.png" alt="<%= album.name %>" class="img-preview"></a> 
          <% end%>
      </div>
      <div class="left">
        <div>
          <a href="/album/<%= album.id %>"><%= album.name %></a> 
        </div>
        <div class="subtext">
          Created <%= calculate_time_ago(album.created_at) %> | <%= album.photos.count %> photos
        </div>
      </div>
        <% if current_user.id == @user.id %>    
        <div class="right">
          <a href="/album/<%= album.id %>/edit_album"><button class="button">Edit album</button></a>&nbsp;
          <a href="/delete_album/<%= album.id %>"><button class="button">Delete album</button></a>
        </div>
        <% end %>
    </div>
  <% end %>
</div>