<div class="container">
  <% @photos.all.reverse.each do |photo| %>
  <div class="img-bomb-container">
    <div>
      <a href="/albums/<%= photo.album_id %>/<%= photo.id %>"><img src="<%= photo.file %>" alt="<%= photo.name %>" class="img-bomb-img"></a>
    </div>
    <div class="subtext-preview">
      Uploaded <%= calculate_time_ago(photo.created_at) %><br>by <a href="/users/<%= photo.user_id %>"><%= photo.user.name %></a>
    </div>
  </div>
  <% end %>
  
</div>